*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  font-family: 'Poppins', sans-serif !important;
}
header{
  min-height: 7vh;
  background-color: white;
}

main{
  /* margin-top: 1rem; */
  /* background-color: lightgray; */
}
.main-wrapper{
  width: 80%;
  margin: 3rem auto;
}
/* .product-list{
  margin: auto;
  width: 85%;
  display: flex;
} */
.product{
  /* width: 80%;
  margin: auto; */
}
nav{
}
.sidebar{
  width: 20%;
  background-color: white;
  /* margin-right: 1rem; */
  padding: 1rem;
}
.home-image{
  max-height: 90vh;
  width: 100%;
}



.add-cart{
  background: black;
  color: white;
  text-align: center;
  border-radius: 10px;
  border: none;
  padding: .75rem 1.5rem;
  font-size: 1.3rem;
  z-index: 99;
  cursor: pointer;
}
